header{
    background-color:aqua;
    height:100vh;

    display:flex;
    flex-direction:column;
    justify-content:center;   
    align-items:center;     
    text-align:center;
}
header a{
    display:inline-block;
    margin:10px;
}

body{
    margin:0;
    font-family: monospace;
    font-size:15px;
    background-color: #f0f8ff;
}
h1{
    font-size: 2rem;
    color:darkblue;
}


header h1{
    font-size:4rem;
    color:black;
    margin:0;
    margin-bottom: 20px;
}
form{
    margin:auto;
    width:400px;
    padding:50px;
    border:2px solid black;
    border-radius:5px;
    background-color: aquamarine;
    align-items: center;
}


input, textarea {
 width: 90%;
 padding: 5px;
 margin-top: 10px;
 margin-bottom: 20px;
 border: 5px solid #ccc;
 border-radius: 15px;
 }
#forms h1{
    font-size:3rem;
    color:darkblue;
    margin-bottom:20px;
}






.button{
    margin:10px;
    height:40px;
    width:140px;
   
    border:2px solid black;
    border-radius:5px;
    background-color:chartreuse;
    color:black;
    font-family: cursive;
}
section{
    height:100vh;
    border:2px solid black;
    border-radius: 5px;
    padding:5px;
    margin:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;   
    align-items:center;       
    text-align:left;
    background-color:whitesmoke;
  


    
}
#skills{
    margin:20px;
    padding:30px;
    border:2px solid black;
    border-radius:10px;
    background-color:whitesmoke;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}


#skills h1{
    font-size:3rem;
    color:darkblue;
    margin-bottom:20px;
}


#skills ol{
    padding-left:20px;
    font-size:18px;
    line-height:2;
    text-align:left;
}


#skills li{
    margin:5px 0;
}

#about{
    margin:20px;
    padding:30px;
    border:2px solid black;
    border-radius:10px;
    background-color:whitesmoke;

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    text-align:center;
}












main{
    padding:20px;
    border-radius:5px;
    
    
}

footer{
    text-align: center;
    font-size: 100%;
    font-weight: 900;
    color:black;
}

.fixedbutton{
    position: fixed;
bottom: 10px;
right: 10px;
height: 70px;
width: 70px;
border: none;
border-radius: 50%;
cursor: pointer;
color: white;
background-color: #2196F3;

}