body {
    font-family: Arial;
    background-color: rgb(0, 5, 5);
    margin: 0;
}

header {
    background-color:rgb(250, 250, 250);
    color: rgb(255, 4, 4);
    text-align: center;
    padding: 10px;
}

.content {
    background-color: rgb(249, 246, 245);
    color: black;

    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

.table{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 5, 5);
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}

h2 {
    color: black;
}

footer {
    background-color:rgb(251, 251, 251);
    color: rgb(5, 0, 0);
    text-align: center;
    padding: 10px;
}